body {
    color: #431d0a;
    background-image: url(fotki/tlo.png);
    background-size: cover;
    font-family: calibri;
}
.baner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 150px;
}
.wszystko {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    height: 470px;
}
form {
    padding: 10px;
    margin: 10px;
}
input[type=submit] {
    background-color: #ce7b52;
    text-decoration: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
}
input {
    margin: 5px;
}
.pudlo {
    height: 100%;
    margin: 5px;
    border: solid #ce7b52 5px;
}